{% extends'base.html.twig' %}
{% block body %}

    <h1>About us</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet non diam non interdum. Nullam faucibus
        cursus ipsum ac tempus. Sed vitae ligula in nibh congue malesuada eu malesuada nunc. Curabitur erat erat,
        tempus vel cursus laoreet, venenatis ac ex. Aliquam maximus tincidunt mauris non elementum. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Mauris libero lorem, fermentum eget elit in, rutrum consequat ipsum. Duis neque neque,
        euismod quis fringilla vitae, imperdiet eget dui. Proin in fringilla ante. Sed vulputate cursus erat volutpat
        posuere. Praesent ultricies lorem libero, nec aliquet lorem fermentum vitae. Aenean sit amet bibendum libero.
        Nulla sed ligula a ligula tristique porttitor id non orci. Curabitur vulputate dui pellentesque arcu condimentum,
        eget molestie velit vestibulum.

    </p>
    <p>Nam dictum metus mollis orci eleifend, at sollicitudin lacus egestas. Duis sagittis risus eu volutpat tempus.
        Praesent viverra aliquam auctor. Duis tincidunt sit amet ipsum vel dignissim. Maecenas posuere elementum quam
        sed hendrerit. Nullam vitae vulputate est. Aenean ante diam, tincidunt ac arcu eu, fermentum venenatis arcu.
        Vestibulum vestibulum lacus nulla, sed laoreet ligula elementum vel. Sed interdum lacinia quam et fringilla.
        Cras porttitor vitae turpis ac cursus. Maecenas at justo ut orci laoreet facilisis. Nulla at lacinia odio.
        Aliquam vulputate sollicitudin elit, eu accumsan purus egestas non. Suspendisse potenti. Aenean ullamcorper elit
        at vehicula maximus. Donec ex felis, pulvinar sit amet massa et, congue venenatis sapien.

    </p>
    <p>Aliquam lacus tortor, aliquet id mi eu, molestie semper leo. Mauris lorem erat, interdum non neque sed,
        ullamcorper porta urna. Phasellus odio magna, blandit eu justo at, sagittis ultrices purus. In hac habitasse
        platea dictumst. Sed eu malesuada nisl, at dictum ipsum. Aenean eu dolor mollis, commodo neque nec, mattis lectus.
        Curabitur tortor ante, laoreet sed eros et, laoreet sagittis urna. In accumsan cursus maximus. Integer dictum
        varius nisi feugiat condimentum.

    </p>

    <section>
        {% for personne in personnes %}
            <h2>{{ personne.nom }}</h2>
            <p>Date de naissance : {{ personne['date de naissance'] }}</p>
            <p>Adresse : {{ personne.adresse.rue }}, {{ personne.adresse.ville }}, {{ personne.adresse.Pays }}</p>
        {% endfor %}
    </section>



{% endblock %}
